@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.glow {
  text-shadow: 0 0 10px rgba(147, 51, 234, 0.5);
}

.card-glow {
  box-shadow: 0 0 20px rgba(147, 51, 234, 0.3);
}
